*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    
}
.lista{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
p{
    padding: 20px;
}
.sotto-contenitore{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sotto-contenitore2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.link:hover{
    border-bottom: 2px solid black;
}
.bottone{
    background-color: white;
    border-color: lightgray;
    color: black;
    padding: 5px;
}
.bottone-2{
    background-color: #0061ff;
    border-color:#0061ff;
    color: white;
    padding: 5px;
}
main{
    padding: 100px;
    background-color: #b4d0e7;
   
}
.bg-section{
    padding: 100px;
    background-color: #b4d0e7;
}
.container-2{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 300px;
}
h1{
    font-size: 2.5em;
}
.sotto-container0{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    flex-direction: row;
    
    
}

.sotto-container3{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    flex-direction: row;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
.arrow{
    font-size: 1.5em;
}
.suggerimenti{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 100px;
}

.jumbo{
     overflow: auto;
     height: 250px;
     position: absolute;
     top: 300px;
     right: 0;
}
.main-2{
    background-color:white;
}


.container-3{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
.fatturazione{
    display: flex;
    /* padding: 20px; */
    
}
.super-contenitore{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.centro{
    text-align: center;
    padding-top: 2px;
}
.tabella{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    
}
.margin{
   margin-left: 15px;
}
.team{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
.super-contenitore2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}


.partner{
    overflow: auto;
    
    height: 400px;
    
    
}
.contatti{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    
}
.drop-business{
    margin: 50px;
    text-align: center;
}
.business{
    overflow: auto;
    
    height: 200px;
}
.super-contenitore3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sotto-container5{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: relative; */
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    padding: 10px;
    
}
.testo-centrale{
    margin: 30px;
    text-align: center;
    padding: 30px;
}
.link2{
    margin: 20px;
}
.arizona{
    width: 200px;
    height: 200px;
    background-color: green;
    padding: 60px;
   
}
.channel{
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 60px;
}
.designit{
    height: 200px;
    width: 200px;
    background-color: aqua;
    padding: 60px;
}
.hearst{
    height: 200px;
    width: 200px;
    background-color: beige;
    padding: 60px;
}
.bicycle{
    background-color: white;
    /* display: inline-block; */
    height: 400px;
    padding: 60px;
}
.university{
    background-color: pink;
    height: 200px;
    width: 200px;
    padding: 60px;
    overflow: auto;
}
.planet{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    padding: 60px;

}
.topps{
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    padding: 60px;
}
.immagini{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}   
.immagini-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.quadrato{
    display: flex;
    justify-content:center;
    align-items: stretch;   
}



.super-contenitore5{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#b4d0e7;
    padding: 100px;
}
/* .lorem:hover{

} */
.contenitore-finale{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:50px;
}
.titolo-finale{
    color: white;
}
.lista-finale{
    color:grey;
    list-style: none;
    
}
li{
    padding: 8px;
    text-indent: -5px;
}
.paragrafo{
    padding: 20px;
}
.paragrafo:hover>.lorem{
    display: block;

}
.lorem{
    display: none;
}

