*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: fixed; 
    z-index: 30px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
p{
    padding: 10px;
}
.sotto-contenitore{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sotto-contenitore2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
a:hover{
    border-bottom: 2px solid black;
}
.bottone{
    background-color: white;
    border-color: lightgray;
    color: black;
}
.bottone-2{
    background-color: #0061ff;
    border-color:#0061ff;
    color: white;
}
main{
    padding: 100px;
    background-color: #b4d0e7;
   
}
.container-2{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 300px;
}
h1{
    font-size: 3.5em;
}
.sotto-container3{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: relative; */
    
    text-align: left;
    margin-top: 50px;
}
.arrow{
    font-size: 1.5em;
}
.jumbo{
     overflow: auto;
     /* position: absolute;
     top: 15px;
     right: 0; */
}
.main-2{
    background-color:white;
}


.container-3{
    max-width: 800px;
    margin: 0 auto;
}
.fatturazione{
    display: flex;
    /* padding: 20px; */
    
}
.super-contenitore{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.centro{
    text-align: center;
    padding-top: 2px;
}
.tabella{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    
}
.team{
    text-align: center;
    border: 1px solid black;
}
.super-contenitore2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
/* .super-contenitore3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px
}
.partner{
    overflow: auto;
    width: 200px;
    height: 200px;
} */